{% extends "default" %}
{% block content_wrapper %}
<section id="pageContent">
    <div class="row">
        <div class="small-8 small-offset-2 columns">
    <header>
        <h2>{{ page.title }}</h2>
    </header>
    <div>
        {{ page.blocks.content|raw }}
    </div>
    {% if page.categories %}
    <p class="categories">
        Categories:
        {% for category in page.categories %}
        <a href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}">{{ category }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    </p>
    {% endif %}
    {% if page.tags %}
    <p class="tags">
        Tags:
        {% for tag in page.tags %}
        <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    </p>
    {% endif %}
    </div>
    </div>
</section>
{% endblock %}
