<div class="contain-to-grid">
<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name">
            <h1><a href="/"><span class="utah-php">Utah PHP</span> <span class="usergroup">Usergroup</span></a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li><a href="/about/">About</a></li>
            <li><a href="/meetings/">Meetings</a></li>
            <li class="has-dropdown">
                <a href="#">Community</a>
                <ul class="dropdown">
                    <li><a href="/mailing-lists/">Mailing List</a></li>
                    <li><a href="/irc/">IRC</a></li>
                </ul>
            </li>
        </ul>
    </section>
</nav>
</div>
