/* General Styles */

h1, h2, h3, h4 {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-style: normal;
    font-weight: 300;
}

.centered-text {
    text-align: center;
}

/* Header Overrides */
@media (min-width: 640px) {
    .top-bar .name h1 {
        left:10px;
        position: relative;
        display: block;
        background: #fff;
        height: 90px;
        border-bottom: 6px solid #666;
        border-left: 6px solid #666;
        border-right: 6px solid #666;
        line-height: 35px;
        padding-top:5px;
        width:210px;

        -moz-border-radius-bottomleft: 20px;
        -webkit-border-bottom-left-radius: 20px;

        -moz-border-radius-bottomright: 20px;
        -webkit-border-bottom-right-radius: 20px;
    }

    .top-bar .name h1 .utah-php {
        color:#004f79;
        display:block;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        font-size: 30px;
    }

    .top-bar .name h1 .usergroup {
        color:#004f79;
        display:block;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        font-size: 26px;
        line-height: 35px;
    }
}

.contain-to-grid {
    border-bottom: 10px solid #666;
}

footer.container {
    margin-top: 30px;
    padding: 30px 0;
    border-top: 1px dashed #aaa;
}

@media (max-width: 767px) {
    .sidebar {
        padding-top: 30px;
    }
}
@media (min-width: 980px) {
    body {

        padding-bottom: 40px;
    }
}


/* Welcome Splash */
#welcomeSplash {
    min-height: 500px;
    background: url('../images/home-splash.jpg') top center no-repeat fixed;
    border-bottom: 10px solid #ddd;
    padding-top:160px;
}

#welcomeSplash .logo {
    margin:0 auto;
    width:300px;
    height:300px;
    background: url('../images/logo.png') top left no-repeat;
}

.heavy { font-weight: 800; }

/* Home Page Intro Section */

#homeIntro {
    margin: 20px 0px;
    padding: 0 0px;
}

#homeIntro .sections {
    margin-top:30px;
}

#homeIntro .image {
    height:150px;
    width: 236px;
    background-size: 100% 100%;
    margin: 0 auto;
}

#homeIntro .email .image {
    background-image: url('../images/home-icon-email.png');
}

#homeIntro .chat .image {
    background-image: url('../images/home-icon-chat.png');
}

#homeIntro .meetings .image {
    background-image: url('../images/home-icon-meeting.png');
}

#homeIntro h4 {
    text-align: center;
}

/* Pages */
@media (min-width: 640px) {
    #pageContent {
        margin-top:60px;
    }
}

/* Responsive videos */
.vid-wrap {
    position: relative;
    width: 100%;
    height: 0px;
    padding: 0 0 0 0;
    margin-bottom: 1.25rem;
}

.vid-wrap iframe {
    position: absolute;
        top: 0;
        left: 0;
    width: 100%;
    height: 100%;
}