---
layout: default
title: Home
generator: pagination
pagination:
    max_per_page: 3
use:
    - posts
    - meetings
---

<section id="welcomeSplash">
    <div class="logo"></div>
</section>

<section id="homeIntro">
    <div class="row centered-text">
        <div class="small-12 columns"><h2><small><em>Connecting members of the PHP community since 2003</em></small></h2></div>
    </div>
    <div class="row sections">
        <div class="medium-4 columns meetings">
            <div class="image"></div>
            <h4>Meetings</h4>
            <div class="text">
                <p>
                    <strong>Third thursday of each month</strong> we meet to have a presentation given by one of our
                    community members. Come learn about a variety of topics and hang out at the After-Party.
                </p>
            </div>
            <h5 class="learn-more"><a href="/meetings/">Attend a Meeting</a></h5>
        </div>
        <div class="medium-4 columns email">
            <div class="image"></div>
            <h4>Mailing List</h4>
            <div class="text">
                <p>
                    <strong>Join the discussion</strong> on our Mailing Lists. Feel free to ask any type of question,
                    no matter how loosely related to PHP they are. Lists for general discussions and jobs.
                </p>
            </div>
            <h5 class="learn-more"><a href="/mailing-lists/">Join Mailing List</a></h5>
        </div>
        <div class="medium-4 columns chat">
            <div class="image"></div>
            <h4>Slack &amp; IRC - Online Chat</h4>
            <div class="text">
                <p>
                <strong>Get online &amp; chat</strong> on our <a href="/slack/">Slack server</a>.  It is great for asking questions
                but also just chatting about anything. You can also connect through our <a href="/irc/">IRC Freenode channel</a>.
                </p>
            </div>
            
            <h5 class="learn-more"><a href="http://utos-slack.herokuapp.com/">Join via Slack</a> or <a href="/irc/">Join via IRC</a></h5>
            <script async defer src="http://utos-slack.herokuapp.com/slackin.js"></script>
        </div>

    </div>
</section>
<section id="upcomingMeetings">
    <div class="row">
        <div class="small-12 columns">
            <h2 class="heavy">Upcoming Meetings</h2>
        </div>
    </div>
    <div class="row">
        {% for meeting in data.meetings|slice(0,3)|reverse %}
        <div class="medium-4 columns">
            <h2>{{ meeting.date|date("F Y") }}</h2>
            <div class="panel">
            <h5>When: {{ meeting.date|date("F jS @ g:i A") }}</h5>
            {% if(meeting.presenter) %}
            <h5>Presenter: {{ meeting.presenter }}</h5>
            {% endif %}
            <h4><a href="{{ site.url }}{{ meeting.url }}">{{ meeting.title }}</a></h4>
            <p>{{ meeting.summary }}</p>
            <p><a href="{{ site.url }}{{ meeting.url }}">Read More</a></p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="small-12 columns">
            <h2 class="heavy">Previous Meetings</h2>
        </div>
    </div>
    <div class="row">
        {% for meeting in data.meetings|slice(3,3)|reverse %}
        <div class="medium-4 columns">
            <h2>{{ meeting.date|date("F Y") }}</h2>
            <div class="panel">
                <h5>When: {{ meeting.date|date("F jS @ g:i A") }}</h5>
                {% if(meeting.presenter) %}
                <h5>Presenter: {{ meeting.presenter }}</h5>
                {% endif %}
                <h4><a href="{{ site.url }}{{ meeting.url }}">{{ meeting.title }}</a></h4>
                <p>{{ meeting.summary }}</p>
                <p><a href="{{ site.url }}{{ meeting.url }}">Read More</a></p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section id="sponsors" class="row">
    <div class="small-8 columns">
        <h2 class="heavy">Sponsors</h2>
        <article>
            <header>
                <h2>JetBrains</h2>
                <div>
                    JetBrains provides a free 1-year license to any of their products every month to one random lucky meeting attendee. Thank you JetBrains!
                </div>
                <div>
                    <a href="https://www.jetbrains.com/" target="_blank"><img alt="JetBrains" src="../images/logo_JetBrains_4.png"></a>
                </div>
            </header>
        </article>
    </div>
</section>

<section id="latestNews" class="row">
    <div class="small-8 columns">
    <h2 class="heavy">Latest News</h2>
{% for post in page.pagination.items %}
    <article>
        <header>
            <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <div>
            {{ post.blocks.content|raw }}
        </div>
        {% if post.meta.tags %}
            <p class="tags">
            Tags:
            {% for tag in post.meta.tags %}
            <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
        {% endif %}
    </article>
{% endfor %}
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav>
        {% if page.pagination.previous_page %}<a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Posts</a>{% endif %}<br />
        {% if page.pagination.next_page %}<a href="{{ site.url }}{{ page.pagination.next_page.url }}">Older Posts</a>{% endif %}<br />
    </nav>
{% endif %}
    </div>
</section>